server:
  port: 8080

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${RDS_ENDPOINT}:3306/mutsa14_prod?serverTimezone=Asia/Seoul&useSSL=false&characterEncoding=UTF-8
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true # 생성되는 SQL 쿼리를 로그로 확인
        format_sql: true

  admin:
    username: ${ADMIN_USERNAME}
    password: ${ADMIN_PASSWORD}